@model  List<GameStore.UI.Models.GameViewModel>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="dashboard-wrapper">
    <div class="container pt-4" id="gamesContainer">
           @{ Html.RenderPartial("GamesPartial", Model); }

           @Html.ActionLink("GetDevelopers", "GetDevelopers",
               null, new { @class = "btn btn-primary" })
    </div>
</div>
